@media screen and (max-width : 376px){
    .mobileStar{
        width: 650px;
        text-align: left;
    }
    .mobileImgStar{
        width: 15px;
        height: 15px;
        padding: 26px 2px 0 0;
    }
}