.imgStar{
    width: 30px;
    height: 30px;
    padding: 10px 0 0 8px;
}

@media screen and (max-width : 428px){
    .mobileStar{
        width: 650px;
        text-align: left;
    }
    .imgStar{
        width: 15px;
        height: 15px;
        padding: 26px 2px 0 0;
    }
}