.backCard{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    border-radius: 25px;
}
.blocCard{
    width: 390px;
    height: 390px;
    margin: 20px 10px 20px 10px;
}
@media screen and (max-width : 1810px){
    .blocCard{
        width: 340px;
        height: 340px;
    } 
}
@media screen and (max-width : 1660px){
    .blocCard{
        width: 300px;
        height: 300px;
    } 
}
@media screen and (max-width : 1540px){
    .blocCard{
        width: 270px;
        height: 270px;
    } 
}
@media screen and (max-width : 1450px){
    .blocCard{
        width: 240px;
        height: 240px;
    } 
}
@media screen and (max-width : 1360px){
    .blocCard{
        width: 210px;
        height: 210px;
    } 
}
@media screen and (max-width : 1270px){
    .blocCard{
        width: 180px;
        height: 180px;
    } 
}
@media screen and (max-width : 1180px){
    .blocCard{
        width: 150px;
        height: 150px;
    } 
}
@media screen and (max-width : 1090px){
    .blocCard{
        width: 120px;
        height: 120px;
        margin: 10px;
    } 
}
@media screen and (max-width : 1000px){
    .blocCard{
        width: 100px;
        height: 100px;
    } 
}
@media screen and (max-width : 972px){
    .blocCard{
        width: 240px;
        height: 240px;
    } 
}
@media screen and (max-width : 880px){
    .blocCard{
        width: 210px;
        height: 210px;
    } 
}
@media screen and (max-width : 790px){
    .blocCard{
        width: 180px;
        height: 180px;
    }
}
@media screen and (max-width : 700px){
    .blocCard{
        width: 150px;
        height: 150px;
    }
}
@media screen and (max-width : 610px){
    .backCard{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blocCard{
        width: 390px;
        height: 390px;
    }
}
@media screen and (max-width : 500px){
    .blocCard{
        width: 360px;
        height: 360px;
    }
}
@media screen and (max-width : 465px){
    .blocCard{
        width: 320px;
        height: 320px;
    }
}
@media screen and (max-width : 428px){
    main{
        padding: 0;
        margin: 0;
    }
    .backCard{
        background-color: white;
        margin: 0;
        padding: 0;
    }
    .blocCard{
        margin: 15px 0 15px 0;
        width: 335px;
        height: 250px;
    }
}