.accomodationDescription{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.accomodationTitle{
    text-align: left;
}
.accomodationh1{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0;  
}
.accomodationh2{
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}
.accomodationTags{
    display: flex;
    flex-direction: row;
}
.accomodationTag{
    margin-right: 10px;
    padding: 4px 20px 2px 20px;
    height: 18px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    color: white;
    background-color: #FF6060;
}
.accomodationCharacter{
    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 0;
}
.accomodationNameCharacter{
    font-size: 18px;
    font-weight: 500;
    height: 52px;
    width: 93px;
    text-align: right;
    margin-right: 10px;
}
.accomodationPicture{
    height: 64px;
    width: 64px;
    border-radius: 100px;
}
.accomodationCollapse{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.accomodationEquipment{
    list-style: none;
}
@media screen and (max-width : 810px){
    .accomodationCollapse{
        display: flex;
        flex-direction: column;
    }
    .accomodationTag{
        font-size: 12px;
    }
}
@media screen and (max-width : 428px){
    .accomodationDescription{
        margin: 10px 20px 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .accomodationh1{
        font-size: 18px;
        margin: 0;    
    }
    .accomodationh2{
        font-size: 14px;
        margin: 10px 0 0 0;
    }
    .accomodationTags{
        flex-wrap: wrap;
    }
    .accomodationTag{
        border-radius: 7px;
        font-size: 10px;
        margin: 10px 10px 0 0;
        margin-right: 10px;
        padding: 4px 20px 0 20px;
    }
    .mobileAccomodation{
        display: flex;
        flex-direction: row-reverse;
    }
    .accomodationCharacter{
        margin: 0;
    }
    .accomodationPicture{
        margin-top: 10px;
        height: 32px;
        width: 32px;
    }
    .accomodationNameCharacter{
        font-size: 12px;
        margin: 0 10px 0 0;
        padding-top:13px;
        size: 12px;
        width: 55px;
    }
    .accomodationCollapse{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
}