.cardAccomodation{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    margin: 10px;
}
.imgCard{
    width: 390px;
    height: 390px;
    border-radius: 10px;
}
.titleCard{
    position: absolute;
    padding: 0 16.5px 20px 20px;
    margin: 0;
    width: 18.4%;
    border-radius: 10px;
    text-align: left;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background: linear-gradient(transparent, #262626)
}
@media screen and (max-width : 1847px){
    .titleCard{
        width: 20%;
        padding: 0 0px 20px 20px;
    }
}
@media screen and (max-width : 1583px){
    .titleCard{
        width: 20%;
        padding: 0 16.5px 20px 20px;
    }
}
@media screen and (max-width : 1510px){
    .imgCard{
        width: 360px;
        height: 360px;
    }
}
@media screen and (max-width : 1420px){
    .imgCard{
        width: 330px;
        height: 330px;
    }
}
@media screen and (max-width : 1330px){
    .imgCard{
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width : 1240px){
    .imgCard{
        width: 280px;
        height: 280px;
    }
    .titleCard{
        font-size: 16px;
    }
}
@media screen and (max-width : 1180px){
    .imgCard{
        width: 250px;
        height: 250px;
    }
}
@media screen and (max-width : 1090px){
    .imgCard{
        width: 210px;
        height: 210px;
    }
    .titleCard{
        width: 18%;
        font-size: 13px;
    }
}
@media screen and (max-width : 970px){
    .imgCard{
        width: 180px;
        height: 180px;
    }
    .titleCard{
        padding: 0 0 15px 10px;
        font-size: 12px;
    }
}
@media screen and (max-width : 880px){
    .cardAccomodation{
        margin: 0px;
    }
    .imgCard{
        width: 500px;
        height: 300px;
    }
    .titleCard{
        width: 30%;
        font-size: 18px;
    }
}
@media screen and (max-width : 428px){
    .imgCard{
        width: 335px;
        height: 255px;
    }
    .titleCard{
        width: 60%;
        font-size: 16px;
    }
}