.cardAccomodation{
    display: flex;
    flex-direction: column;
}
.imgCard{
    width: 265px;
    height: 265px;
    border-radius: 10px;
}
.titleCard{
    position:absolute;
    width: 280px;
    height: 52px;
    text-align: left;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
    margin: 200px 0 0 0;
}

@media screen and (max-width : 428px){
    .imgCard{
        width: 335px;
        height: 255px;
    }
}