.space{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.dropdown{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 87%;
    border-radius: 5px;
    background-color: #FF6060;
}
.titlecollapse{
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-left: 25px;
}
.arrow{
    height: 15px;
    margin: 25px;
}
.backtext{
    background-color: #F6F6F6;
    border-radius: 5px;
    width: 87%;
    
    height: 70%;
}
.textCollapse{
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding: 10px 10px 2px 10px;
}

@media screen and (max-width : 1320px){
    .textCollapse{
        font-size: 18px;
    }
}
@media screen and (max-width : 810px){
    .space{
        width: 100%;
    }
    .titlecollapse{
        font-size: 20px;
    }
    .textCollapse{
        font-size: 16px;
    }
}
@media screen and (max-width : 428px){
    .space{
        width: 90%;
        margin: 0 20px 20px 20px;
    }
    .backtext{
        font-size: small;
    }
    .titlecollapse{
        font-size: 18px;
        margin-top: 20px;
    }
    .textCollapse{
        font-size: 15px;
    }
}