.dropdown{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #FF6060;
}
.space{
    padding: 0 20px 0 20px;
    margin-bottom: 20px;
    width: 100%;
}
.titlecollapse{
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-left: 25px;
}
.arrow{
    height: 15px;
    margin: 25px;
}
.backtext{
    height: 80%;
    background-color: #F6F6F6;
    border-radius: 5px;
    padding: 10px 10px 1px 10px
}
.textCollapse{
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

@media screen and (max-width : 428px){
    .backtext{
        font-size: small;
    }
    .titlecollapse{
        font-size: 18px;
        margin-top: 20px;
    }
    .textCollapse{
        font-size: 12px;
    }
}