.carrouselPosition{
    display: flex;
    flex-direction: row;
}
.divImgCarrousel{
    width: 100%;
    height: 500px;
}
.carrouselImg{
    object-fit:cover;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
.carrouselArrow{
    position: absolute;
    padding-top: 225px;
}
.arrowLeft{
    padding-left: 25px;
}
.arrowRight{
    left:81%
}
.carrouselNumber{
    position: absolute;
    font-weight: 500;
    font-size: 18px;
    padding-top: 450px;
    left: 45%;
    right: 45%;
    color: white;
}

@media screen and (max-width : 1710px){
    .arrowRight{
        left:79%
    }
}
@media screen and (max-width : 1550px){
    .arrowRight{
        left:77%
    }
}
@media screen and (max-width : 1415px){
    .carrouselArrow{
        padding-top: 215px;
    }
    .arrowRight{
        left:75%
    }
    .divImgCarrousel{
        height: 470px;
    }
    .carrouselNumber{
        padding-top: 425px;
    }
}
@media screen and (max-width : 1275px){
    .arrowRight{
        left:73%
    }
}
@media screen and (max-width : 1180px){
    .arrowRight{
        left:71%
    }
}
@media screen and (max-width : 1090px){
    .arrowRight{
        left:70%
    }
    .carrouselArrow{
        padding-top: 190px;
        height: 6%;
    }
    .carrouselNumber{
        padding-top: 370px;
    }
    .divImgCarrousel{
        height: 415px;
    }
}
@media screen and (max-width : 1020px){
    .arrowRight{
        left:67%
    }
}
@media screen and (max-width : 970px){
    .arrowRight{
        left:90%
    }
}
@media screen and (max-width : 900px){
    .arrowRight{
        left:88%
    }
    .carrouselNumber{
        padding-top: 360px;
    }
    .divImgCarrousel{
        height: 400px;
    }
}
@media screen and (max-width : 810px){
    .carrouselArrow{
        padding-top: 150px;
    }
    .carrouselNumber{
        padding-top: 330px;
    }
    .divImgCarrousel{
        height: 370px;
    }
}
@media screen and (max-width : 700px){
    .arrowRight{
        left:86%
    }
}
@media screen and (max-width : 550px){
    .arrowRight{
        left:83%
    }
}
@media screen and (max-width : 460px){
    .arrowRight{
        left:80%
    }
}
@media screen and (max-width : 428px){
    .divImgCarrousel{
        padding: 30px 20px 0 20px;
        width: 90%;
        height: 255px;
    }
    .carrouselArrow{
        height: 3%;
        padding-top: 140px;
    }
    .arrowLeft{
        padding-left: 35px;
    }
    .arrowRight{
        left:87%
    }
    .carrouselNumber{
        padding-top: 220px;
        font-size: 14px;
    }
}
