header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 260px 0 260px;
}
.linkNav{
    padding-left: 40px;
    color: #ff6060;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none; 
}
.linkNav:hover{
    text-decoration: #ff6060 underline;
}

@media screen and (max-width : 650px){
    header{
        padding: 20px 20px 0 20px;
    }
    .linkNav{
        font-size: medium;
        padding-left: 20px;
    }
}
@media screen and (max-width : 428px){
    .linkNav{
        padding-left: 10px;
    }
}

