.bannerdiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 35px 0 50px 0;
    height: 30%;
    width: 100%;
}
.bannerimg{
    border-radius: 25px;
    filter: brightness(70%);
    width: 100%;
    height: 100%;
}
.bannerh1{
    position:absolute;
    width: 100%;
    font-size:60px;
    font-weight: 500;
    color: white;
}
@media screen and (max-width : 1500px){
    .bannerh1{
        font-size:50px;
    }
}
@media screen and (max-width : 1100px){
    .bannerh1{
        font-size:40px;
    }
}
@media screen and (max-width : 900px){
    .bannerh1{
        font-size:30px;
    }
}
@media screen and (max-width : 734px){
    .bannerdiv{
        justify-content: left;
    }
    .bannerh1{
        padding-left: 30px;
        width: 25%;
        font-size:20px;
        text-align: left;
    }
}
@media screen and (max-width : 428px){
    .bannerdiv{
        padding: 18px;
        height: 110px;
        width: 91%;
    }
    .bannerimg{
        object-fit: cover;
        border-radius: 10px;
    }
    .bannerh1{
        width: 44%;
    }
}
@media screen and (max-width : 390px){
    .bannerdiv{
        padding: 17px;
    }
    .bannerh1{
        width: 48%;
    }
}
@media screen and (max-width : 376px){
    .bannerh1{
        width: 50%;
    }
}
@media screen and (max-width : 360px){
    .bannerdiv{
        padding: 16px;
    }
    .bannerh1{
        width: 52%;
    }
}